*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: mintcream;
    font-family: Bernard MT, sans-serif;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-size: 20px;
    text-decoration: none;
    
    
}
.nav-bar ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav-bar a{
    color: rgb(238, 84, 28);
    text-decoration: none;
}

.nav-bar li{
    list-style: none;
    
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(179, 63, 9);
    margin: 5px;
}